# Datos

In [ ]:
#hola este es un comentario de una sola línea

'''Este es un
comentario de
varias líneas'''

print ("hola amigos bienvenidos")

print('hola amigos'+'bienvenidos') #para concatenar
print('hola amigos','bienvenidos') #para concatenar con espacio
print('hola amigos','\nbienvenidos') #para salto de línea alt-92

### Variables

In [ ]:
#variables empiezan con minúscula nunca con números y siempre sin espacios

nombre_variable='valor' #ésto es un string
nombre_variable1=50 #ésto es un integer
nombre_variable2=25.4 #ésto es un float
nombre_variable3= False  #ésto es un boolean, mayúscula
nombre_variable4= [34,'armando',True,'M','34',34.5] #ésta es una lista
nombre_variable4= (34,'armando',True,'M','34',34.5) #ésta es una tupla
nombre_variable5= {'Hermano1':'Armando',
                   'Hermano2':'Ramon',
                   'Hermano3':'Sayra'    
                  } #ésto es un diccionario

print(nombre_variable2+nombre_variable1)
print(nombre_variable5)

In [ ]:
nombre="armado"
edad=30


#marca error porque uno es texto y el otro número
#print(nombre+edad)

#transformo edad en string
print('hola mi nombre es' + nombre + 'y mi edad es'+ str(edad)) #str int float bool

#separo por comas
print('hola mi nombre es' , nombre , 'y mi edad es', edad)

### Operadores de Cálculo

In [ ]:
a=10
b=3

print(a+b) #suma
print(a-b) #resta
print(a*b) #multiplicacion
print(a/b) #división
print(a**b) #exponente (al cubo)
print(a//b) #división enteros
print(a%b) #resto de una división

print (b+a/2) #8 la multiplicación y la divición van antes
print ((b+a)/2) # 13/2

### Operadores de asignación

In [ ]:
x=3 #igual
x+=3 #suma acomulativa
x-=3 #resta acomulativa
x/=3 #división acomulativa
x*=3 #multiplicación acomulativa
x**=3 #exponente acomulativa
x+=1 #incremento x=x+1
x-=1 #decremento x=x-1

### Listas ,Arrays,Vectores,Arreglos

In [ ]:
nombre_lista=[5.6,'string',True,False,[1,4,5,6]]

print(nombre_lista[1])
print(nombre_lista[4])
print(nombre_lista[4][2])

In [ ]:
colores=['rojo','verde','azul']
print (colores) #imprimimos toda la lista
print(colores[2])#imprimir el tercer valor

colores.append("naranja") #añadimos un elemento al final
print(colores)

colores.insert(1,"morado") #insertamos un elemento en el espacio1
print(colores)

del colores[0] #se elimina el elemento 0
print (colores)

colores[3]="negro" #cambiamos naranja por negro
print (colores)

colores.remove('azul') # eliminamos el color azul
print (colores)

In [ ]:
estados=['México','CDMX','Hidalgo','Chihuahua','Tabasco']
numeros=[12,34,56,12,10,2,4]

estados.sort() #los ordenamos
print(estados)

numeros.reverse() #se ordenan al reves de como se metieron
print(numeros)

numeros.sort() #orden menor a mayor
print(numeros)

numeros.reverse() #ahora sí me lo ordenó de mayor a menor
print(numeros)

### Diccionarios

In [ ]:
hermanos={'hermano1':"ramon", 'hermano2':'Sayra'}

hermanos['hermano3']='lizbeth' #añadir un elemeto
hermanos['hermano4']='Jesus'
print(hermanos)

del hermanos['hermano4'] #eliminar elemento
print(hermanos)

print(hermanos['hermano3'])

print(hermanos.keys())
print(hermanos.values())

### Tuplas

In [29]:
#Las tuplas no se pueden cambiar
estados_Tuplas=('México','CDMX','Hidalgo','Chihuahua','Tabasco')
print(estados_tuplas)

NameError: name 'estados_tuplas' is not defined

### Matrices

In [ ]:
nombre_matriz=[
      ['1nombre','2edad','3escolaridad','4dinero'],
    [1,'Armando',30,'maestría',10000],
    [2,'josue',34,'doctorado',12000],
    [3,'alejandro',25,'licenciatura',8000],
    [4,'maria',40,'licenciatura',10000]
]

print(nombre_matriz[1][1])

#cambiar el nombre de armando
nombre_matriz[1][1]='Valentin'

print(nombre_matriz)

 # Programación Estructurada

### Condicionales IF/ ELIF /ELSE

In [ ]:
'''
if condición:
    instrucciones
elif codición:
    instrucciones
else:
    instrucciones
'''
q=12
r=10

if q>r:
    print('el valor de q mayor a r')
elif q==r:
    print('el valor de q es igual a r')
else:
    print('el valor de q es menor a r')

In [ ]:
# Ejemplo de condicional
universidad=input("escribe tu universidad")
edad=int(input("dinos tu edad"))
departamento=input("escribe tu departamento")

if universidad != "chapingo":
    print("adios!!")  
else:
    if departamento== "zootecnia":
        print("pasale amigo")
    else:
        if edad >=18:
            print("pasale amigo")

### Operadores de comparación

In [ ]:
a=5
b=3

print(a==b) #igual que
print(a!=b) #diferente de
print(a>b) #mayor que
print(a<b) #menor que
print(a<=b) #menor o igual que
print(a>=b) #mayor o igual que

c=8
print(c>a>b) #comparación de varios números

### Operadores lógicos

In [ ]:
j=10
k=5

'''
y: and
o: or
negación: not
'''
print (j<9 and k < 9)
print (j<9 or k < 9)
print (not j==10)

### Ciclos

In [ ]:
#ciclo while

c=0
while c<10:
    print('C menor que 10','impresion número',c)
    c+=2 #este es un contador

In [ ]:
#ciclo for

#range(número empieza, número antes de llegar, saltos)
for i in range(0,10,2):
    print('impresion número',i)

# Programación Modular

In [ ]:
#def nombre funcion():
# instrucciones


def nombre_funcion():
    print('arranca funcion')

def funcion_multiplica(argumento1,argumento2):
    resultado=argumento1*argumento2
    print(resultado)
    

def funcion_multiple(primerN,segundoN):
    primerN*segundoN
    primerN+segundoN
    return primerN/segundoN

funcion_multiple(10,5) #este no se ve pero aqui hay un valor

valor=funcion_multiple(10,2)
print(valor)

#########################################################################
def funcion_multiple2(primerx,segundoy):
    primerx*segundoy
    sumados=primerx+segundoy
    print(sumados)
    return primerx/segundoy

funcion_multiple2(10,5)

# Programación Orientada a Objetos

# Librerias

<h3>Librerías para gráficos</h3>
<p>plotly<p>
<br>
<h3>Librerías para machine learning</h3>
<p> sklearn<p>